src_legacy/compiler/*
__pycache__
*/*.spec
src/venv
src/build
src/dist
*.xcf
wtf.txt
*_x.py
*.ORIGIN
build
dist
src/cmd venv.lnk
src/BspTexRemap_GUI.cfg.json
src/tests/gui_integration/fixtures_mod
src/temp
src/BspTexRemap_GUI.build
src/BspTexRemap_GUI.dist
*.exe
*.cmd
*.zip
