src_legacy/compiler/*
__pycache__
src/venv
src/build
src/dist
*.xcf
wtf.txt
*_x.py
*.ORIGIN
build
dist
src/cmd venv.lnk
src/bsptexremap/dpg/_old_mvc.txt
src/assets/fonts/FiraCode-VariableFont_wght.ttf
